body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif !important;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  left: 50%;
}

#list,
#detail-list {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  left: 0%;
}

#detail-list {
  display: none;
}

#tile-x {
  background: transparent;
  box-shadow: 5px 5px 20px 0px grey;
  position: absolute;
  bottom: 32px;
  margin-left: calc(50% + 10px);
}

#tile-y {
  background: transparent;
  box-shadow: 5px 5px 20px 0px grey;
  position: absolute;
  bottom: 32px;
  margin-left: calc(50% + 190px);
}

#tile-z {
  background: transparent;
  box-shadow: 5px 5px 20px 0px grey;
  position: absolute;
  bottom: 32px;
  margin-left: calc(50% + 10px);
  display: none;
}

.toast {
  opacity: 1 !important;
}

.toast.success {
  border-top: 5px solid var(--color-jungle-500);
}

#planner {
  background: white;
  box-shadow: 5px 5px 20px 0px grey;
  position: absolute;
  bottom: 110px;
  margin-left: calc(100% - 100px);
  border-radius: 22px;
  height: 32px;
  width: 80px;
  padding-left: 12px;
  padding-top: 3px;
  color: #d6d6d6;
}

#infopnl {
  background: white;
  box-shadow: 5px 5px 20px 0px grey;
  position: absolute;
  top: 32px;
  margin-left: calc(50% + 10px);
  border-radius: 22px;
  height: 32px;
  width: 32px;
  text-align: center;
  padding-top: 6px;
  color: #d6d6d6;
  font-size: 12px;
  transition-duration: 0.1s;
  cursor: pointer;
}

#infopnl.expandlegend {
  height: 70px;
  width: 150px;
  border-radius: 0px;
}

.colorbox {
  float: left;
  width: 10px;
  height: 10px;
  margin: 5px;
}
.colrow {
  left: 15px;
  position: absolute;
  color: gray;
}
.coltext {
  position: relative !important;
  top: -4px;
  left: 18px;
  width: 120px;
  text-align: left;
}

#lginfo {
  padding: 5px;
  display: none;
}

.fruitcolor {
  background: #fbbc05;
}

.milkcolor {
  background: #00a1f1;
}
.go-button {
  margin-top: 28px;
  float: left;
}

.filter-row {
  margin-left: -6px !important;
}

.hand-pointer {
  cursor: pointer;
}

.del-hub {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 6px;
  display: none;
}

.requests {
  height: 75%;
  /* overflow-y: scroll; */
  overflow-x: hidden;
  display: inherit !important;
}

/* The emerging W3C standard
   that is currently Firefox-only */
* {
  scrollbar-width: thin;
  scrollbar-color: #ececec #f6f6f6;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #f6f6f6;
}

*::-webkit-scrollbar-thumb {
  background-color: #ececec;
  border-radius: 20px;
  border: 3px solid #f6f6f6;
}

.req-list-item {
  height: 100px;
}

.found {
  display: none !important;
}

.not-found {
  display: block !important;
}

.photo {
  position: absolute;
  top: 14px;
  left: 10px;
}

.main {
  left: 75px;
  position: relative;
  top: 2px;
}

.detailed-item {
  border: none !important;
  height: 180px;
}

.detailed-item .main {
  left: 165px;
}

#detail-list .requests {
  height: 60%;
  overflow-y: scroll;
  overflow-x: hidden;
  display: inherit !important;
}

.breadcrumb {
  background: none !important;
}

#app {
  height: 100%;
  width: 50%;
  overflow-y: hidden;
  overflow-x: hidden;
  position: absolute;
}

.mapboxgl-popup-content {
  width: 350px;
}

.loader {
  width: 100%;
  height: 100%;
  position: absolute;
  background: white;
  z-index: 100;
}

.loader .spinner {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: block;
  width: 32px;
  height: 32px;
  position: absolute;
}

#planning-mode {
  position: absolute;
  bottom: 25px;
  right: 30px;
}
